In [7]:
import pandas as pd
from pathlib import Path

In [8]:
movies_df = pd.read_csv(Path("ml-latest-small/movies.csv"))
print(len(movies_df))
print(movies_df.dtypes)
movies_df.head(10)

9742
movieId     int64
title      object
genres     object
dtype: object

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [9]:
links_df = pd.read_csv(Path("ml-latest-small/links.csv"))
print(len(links_df))
print(links_df.dtypes)
links_df.head(10)

9742
movieId      int64
imdbId       int64
tmdbId     float64
dtype: object

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0
5        6  113277    949.0
6        7  114319  11860.0
7        8  112302  45325.0
8        9  114576   9091.0
9       10  113189    710.0

In [10]:
ratings_df = pd.read_csv(Path("ml-latest-small/ratings.csv"))
print(len(ratings_df))
print(ratings_df.dtypes)
ratings_df.head(10)

100836
userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931
5       1       70     3.0  964982400
6       1      101     5.0  964980868
7       1      110     4.0  964982176
8       1      151     5.0  964984041
9       1      157     5.0  964984100

In [11]:
tags_df = pd.read_csv(Path("ml-latest-small/tags.csv"))
print(len(tags_df))
print(tags_df.dtypes)
tags_df.head(10)

3683
userId        int64
movieId       int64
tag          object
timestamp     int64
dtype: object

   userId  movieId                tag   timestamp
0       2    60756              funny  1445714994
1       2    60756    Highly quotable  1445714996
2       2    60756       will ferrell  1445714992
3       2    89774       Boxing story  1445715207
4       2    89774                MMA  1445715200
5       2    89774          Tom Hardy  1445715205
6       2   106782              drugs  1445715054
7       2   106782  Leonardo DiCaprio  1445715051
8       2   106782    Martin Scorsese  1445715056
9       7    48516       way too long  1169687325